/* styles.css - Combo Manager Extension */
/* העתקת העיצוב המדויק מכרטיסיית הצבעים */

/* === Main Container === */
#combo-manager-view {
    width: 100%;
    display: none;
    color: white;
}

.cme_main {
    width: 100%;
    height: 100%;
}

/* === Container Paints (Main Container) === */
.cme_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-box-align: center;
    -webkit-box-pack: justify;
    user-select: none;
}

/* === Common Block For Description And Button === */
.cme_commonBlockForDescriptionAndButton {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    position: relative;
    width: calc(100% - 3em);
    flex-grow: 1;
    -webkit-box-align: stretch;
    -webkit-box-pack: justify;
    -webkit-box-flex: 1;
}

@media screen and (min-width: 1280px),
(min-height: 950px) {
    .cme_commonBlockForDescriptionAndButton {
        width: calc(100% - 12em);
    }
}

/* === Tank Preview === */
.cme_tankPreview {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    touch-action: none;
}

/* === Description Block Collection === */
.cme_descriptionBlockCollection {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    cursor: default;
    width: 22.5em;
    height: auto;
    z-index: 1;
    margin-top: 1.5em;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-box-align: start;
    -webkit-box-pack: start;
}

@media screen and (min-width: 1280px),
(min-height: 950px) {
    .cme_descriptionBlockCollection {
        margin-top: 4em;
    }
}

.cme_commonBlockDescriptionCollection {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 0px;
    height: inherit;
    z-index: 2;
    overflow-y: auto;
    scrollbar-color: rgba(255, 255, 255, 0.15) rgba(255, 255, 255, 0);
    scrollbar-width: thin;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-box-align: start;
    -webkit-box-pack: start;
}

.cme_animatedBlurredLeftBlock {
    animation: 200ms ease-out 0s 1 normal none running cme_keyframe_appear_right;
    backdrop-filter: blur(3.125em);
}

@keyframes cme_keyframe_appear_right {
    0% {
        opacity: 0;
        transform: translateX(-5vw);
    }

    100% {
        opacity: 1;
    }
}

.cme_headline {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: inherit;
    margin-bottom: 0.75em;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-box-align: start;
    -webkit-box-pack: justify;
}

.cme_headline h1 {
    font-family: BaseFontMedium, FallbackFontMedium;
    font-style: normal;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 1.5em;
    padding: 0px;
    margin: 0px;
}

.cme_headline h3 {
    color: rgb(254, 102, 102);
    font-family: BaseFontMedium, FallbackFontMedium;
    font-style: normal;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 0.75em;
    line-height: 113%;
    letter-spacing: 0.125em;
    margin: 0px 0.75em 0px 0px;
    white-space: nowrap;
}

.cme_PaintsCollectionComponentStyle-fullDescriptionPaint {
    width: 22.5em;
    height: auto;
    padding-right: 0.625em;
}

.cme_PaintsCollectionComponentStyle-fullDescriptionPaint h3 {
    font-family: BaseFontRegular, FallbackFontRegular;
    font-style: normal;
    font-weight: normal;
    font-size: 1em;
    margin: 0px;
}

/* === Tank Part Upgrades (Button Section) === */
@media screen and (min-width: 1280px),
(min-height: 950px) {
    .cme_tankPartUpgrades {
        margin-top: 4em;
    }
}

.cme_tankPartUpgrades {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    right: 0px;
    width: 22.5em;
    height: max-content;
    min-height: 6em;
    z-index: 2;
    margin-top: 1.5em;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-box-align: start;
    -webkit-box-pack: start;
}

.cme_animatedBlurredRightBlock {
    animation: 200ms ease-out 0s 1 normal none running cme_keyframe_appear_bottom;
    backdrop-filter: blur(3.125em);
}

@keyframes cme_keyframe_appear_bottom {
    0% {
        opacity: 0;
        transform: translateY(5vh);
    }

    100% {
        opacity: 1;
    }
}

/* === Big Action Button === */
.cme_bigActionButton {
    height: 6em;
}

.cme_commonBlockButton {
    position: relative;
    min-width: 10.9375em;
    width: inherit;
    height: inherit;
    z-index: 2;
}

.cme_TanksPartComponentStyle-tankPartUpgrades {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    right: 0px;
    width: 22.5em;
    height: max-content;
    z-index: 2;
    margin-top: 1.5em;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-box-align: start;
    -webkit-box-pack: start;
    animation: 200ms ease-out 0s 1 normal none running cme_keyframe_appear_left;
    backdrop-filter: blur(3.125em);
}

@media screen and (min-width: 1280px),
(min-height: 950px) {
    .cme_TanksPartComponentStyle-tankPartUpgrades {
        margin-top: 4em;
    }
}

/* הטמעת CSS של הקלאסים המג'ונרטים (ksc-152.ksc-152.ksc-152) */
#cme_save-combo-btn.cme_commonBlockButton.cme_commonBlockButton.cme_commonBlockButton {
    height: 6em;
}

#cme_save-combo-btn.cme_commonBlockButton.cme_commonBlockButton {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.75em;
    box-sizing: border-box;
    cursor: pointer;
    position: relative;
    background-color: rgb(118, 255, 51);
    -webkit-box-align: center;
    -webkit-box-pack: center;
}

#cme_save-combo-btn.cme_commonBlockButton.cme_commonBlockButton:hover {
    background-color: rgb(118, 255, 51);
    box-shadow: rgb(255, 255, 255) 0em 0em 0em 0.125em;
}

.cme_flexCenterAlignCenter {
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-box-pack: center;
}

.cme_flexCenterAlignCenter_inner {
    position: absolute;
    width: 100%;
    height: 100%;
}

.cme_backgroundImage {
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center center;
    background-image: url(/play/static/images/ic_mountBlack.101d5e3f.svg);
    background-size: contain;
    width: 4em;
    height: 4em;
}

.cme_flexEndAlignEnd {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: right;
    -webkit-box-align: end;
    -webkit-box-pack: end;
}

.cme_flexEndAlignEnd span {
    font-family: BaseFontMedium, FallbackFontMedium;
    font-style: normal;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 1em;
    color: rgb(0, 25, 38);
    font-weight: 700;
    line-height: 1.25em;
    padding: 0.438em 0.5em 0.438em 0.438em;
}

/* === Items List Container === */
.cme_itemsListContainer {
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    position: relative;
    height: auto;
    background: linear-gradient(rgba(0, 25, 38, 0) 0%, rgb(0, 25, 38) 100%);
    z-index: 1;
    height: 22.375em;
    -webkit-box-align: center;
    -webkit-box-pack: start;
}

.cme_appearFromBottom {
    animation: 200ms ease-out 0s 1 normal none running cme_keyframe_appear_bottom;
}

@keyframes cme_keyframe_appear_left {
    0% {
        opacity: 0;
        transform: translateX(5vw);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

/* === Navigation Arrows === */
.cme_arrowLeft {
    align-self: flex-start;
    bottom: 0px;
    cursor: pointer;
    min-height: 12.375em;
    position: absolute;
    width: 3em;
    z-index: 4;
    height: 22.375em;
    background: linear-gradient(90deg, rgb(0, 25, 38) 0%, rgba(0, 26, 39, 0) 100%);
    left: 0px;
}

.cme_arrowLeft img {
    transform: rotate(180deg);
    opacity: 0.75;
    width: 1.3125em;
    height: 2.6875em;
}

.cme_arrowRight {
    align-self: flex-start;
    bottom: 0px;
    cursor: pointer;
    min-height: 12.375em;
    position: absolute;
    width: 3em;
    z-index: 4;
    height: 22.375em;
    background: linear-gradient(-90deg, rgb(0, 25, 38) 0%, rgba(0, 26, 39, 0) 100%);
    right: 0px;
}

.cme_arrowRight img {
    opacity: 0.75;
    width: 1.3125em;
    height: 2.6875em;
}

/* === Items Container === */
.cme_itemsContainer {
    height: 100%;
    overflow: auto hidden;
    scrollbar-width: none;
    display: flex;
    flex-flow: row;
    z-index: 3;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    user-select: none;
    padding: 1.5em;
    box-sizing: border-box;
}

.cme_itemsContainer::-webkit-scrollbar {
    display: none;
}

/* === Column Container === */
.cme_flexSpaceBetweenAlignCenterColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 12.5em;
    flex-shrink: 0;
    margin-right: 0.625em;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-box-align: center;
    -webkit-box-pack: justify;
}

.cme_itemsContainer .cme_flexSpaceBetweenAlignCenterColumn:last-child {
    margin-right: 0;
}

/* === Empty State === */
.cme_empty-state {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3em 1.5em;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-box-align: center;
    -webkit-box-pack: center;
}

.cme_empty-state h2 {
    font-family: BaseFontMedium, FallbackFontMedium;
    font-size: 1.5em;
    font-weight: 500;
    color: white;
    margin: 0 0 0.5em 0;
}

.cme_empty-state p {
    font-family: BaseFontRegular, FallbackFontRegular;
    font-size: 1em;
    color: rgba(255, 255, 255, 0.7);
    margin: 0;
}

